<header class="site-header">
		
		<div class="top-banner logo teal">
	        <div class="inner">
	            <div>
	                <a class="logotype" href="http://www.ucsf.edu/">
	                    <span>University of California San Francisco</span>
	                </a>
	            </div>
	            <div class="nav">
	                <ul class="top-banner-menu">
	                    <li><a href="http://www.ucsf.edu/about">About UCSF</a></li>
	                    <li><a href="http://www.ucsf.edu/search">Search UCSF</a></li>
	                    <li><a href="http://www.ucsfhealth.org/">UCSF Medical Center</a></li>
	                </ul>
	            </div>
	        </div>
	    </div>

<div class="UpperTitle">
		<a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>		
</div>
				
<div id='cssmenu'>
<ul>
   <li><a href="{{ site.baseurl }}/"><span>home</span></a></li>
   <li class='active has-sub'><a href="{{ site.baseurl }}/about"><span>about us</span></a>   
   <li class='has-sub'><a href="{{ site.baseurl }}/faqs"><span>faqs</span></a>
   <li><a href="http://anatomy.ucsf.edu"><span>anatomy department</span></a></li>
   <li><a href="{{ site.baseurl }}/form"><span>form download</span></a></li>
</ul>
</div>	

</header>















