<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}


<div id="wrapper">
<div id="slider">
	
	<img src="{{ site.baseurl }}/img/1.jpg" />
	<img src="{{ site.baseurl }}/img/2.jpg" />
	<img src="{{ site.baseurl }}/img/3.jpg" />
	<img src="{{ site.baseurl }}/img/4.jpg" />
	<img src="{{ site.baseurl }}/img/5.jpg" />
	<img src="{{ site.baseurl }}/img/6.jpg" />
		
</div>

<script src="{{ site.baseurl }}/assets/ideal-image-slider.js"></script>
<script>
var slider = new IdealImageSlider.Slider('#slider');
slider.start();
</script>
</div>	


    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
