<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}



<div id="wrapper">
<div id="slider">
	<img src="../img/1.jpg" alt="Slide 1" />
    <img src="../img/2.jpg" alt="Slide 2" />
	<img src="../img/3.jpg" alt="Slide 3" />
	<img src="../img/4.jpg" alt="Slide 4" />
	<img src="../img/5.jpg" alt="Slide 5" />
	<img src="../img/6.jpg" alt="Slide 6" />
			
</div>

<script src="../assets/ideal-image-slider.js"></script>
<script>
var slider = new IdealImageSlider.Slider('#slider');
slider.start();
</script>
</div>	


    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
